{% extends 'layout.njk' %} 
{% set title = 'NodeProxyServer' %} 
{% block content %}
<h1>Meteor Image</h1>

  <div class="image-container">
    <img src="{{ image }}" alt="Image of the Meteor" />
  </div>

{% endblock %}